* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HospitalCardSection .ContainerItm {
  margin-top: 100px;
}

.ContainerItm {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

/* ei code pore comment out kora lagbe obossoi */

/* .HospitalCardSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.CardsItm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.CardLinkItm {
  flex: 0 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  width: 100%;
  background: #347ddb;
  display: inline-flex;
  color: #fff;
  text-decoration: none;
  padding: 20px 10px;
  margin-bottom: 25px;
  transition: 0.3s;
  border: 2px solid transparent;
  /* text-align: center; */
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  /* box-shadow: 2px 3px 7px 3px #2d112a; */
  /* box-shadow: 0 10px 10px -5px #2d112a; */

  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.CardLinkItm:hover {
  /* border: 2px solid #f3f2f0; */
  background: #215496;
  color: #fff;
}

/* .CardItm h2 {
  margin: 15px 0;
}
.CardItm i {
  font-size: 40px;
  color: #fff;
}
*/
.CardItm {
  width: 100%;
}
.FontCallIcon {
  text-align: center;
  align-items: center;
  display: flex;
  height: 100%;
  font-size: 30px;
}

.FontCallIcon a i {
  color: #fff;
}

/* ==============responsive_start============== */
@media (max-width: 769px) {
}

@media (max-width: 969px) {
  .HospitalCardSection .ContainerItm {
    margin-top: 70px;
  }

  .HospitalCardSection {
    padding: 20px 0;
  }
  .CardLinkItm {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}
@media (max-width: 500px) {
  .CardLinkItm {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);

    /* flex: 0 0 100%;
    max-width: 100%; */
    /* margin: 20px; */
  }
}
